{{#each project in controller}}
	<div class="well">
		{{#link-to "project.edit" project}}
			<span class="glyphicon glyphicon-pencil pointer"></span>
		{{/link-to}}
		<span class="glyphicon glyphicon-remove pointer" {{action delete}}></span>
		{{project.name}}
		<span style="float:right;">{{project.platform.name}}</span>
	</div>
{{/each}}

